body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #61122f;
}

#menu-categories-title{
    margin: 40px auto;
    color: #ffffff;
}

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
    border: 2px solid black;
}

#collapsable-nav{
    font-size: 1.4em;
}

.navbar{
    margin-bottom: 0px;
}

.navbar-toggle{
    color:black;  
    margin-top: 12px;
} 

.navbar-toggle a:visited{
    color: inherit;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 2px solid #61122f;
    background: #f6b319;
}

.navbar-brand h1 { 
    position: relative;
    color: #000000;
    font-size: 1.5em;
    margin-top: 8px;
    margin-bottom: 8px;
    text-decoration: none;
}

.navbar-brand a:hover{ 
    text-decoration: none;
}

.navbar-brand {
    padding-top: 5px;
    margin-bottom: 10px;
}

#nav-list {
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 0px;
}
#nav-list a{
    background: #f6b319;
    color: #000;
    border-bottom: 2px solid black;
}
#nav-list a:hover {
    background: #61122f;
    color: #fff;
}
#nav-list a span {
    font-size: 1em;
}


.category-tile { 
    background: #f6b319;
    margin-bottom: 35px; 
    padding-bottom: 30px;

}

#chicken, #beef, #sushi{
    padding: 5px 20px;
    font-size: 1.3em;
    color: #000;
}

.btn{
    margin-bottom: 50px;
    border-radius: 0px;
}
